.ball-box {
    position: absolute;
    width: 100px;
    height: 150px;
    left: 10px;
}

.ball {
    position: relative;
    background-color: red;
    width: 20px;
    height: 20px;
    left: 35px;
    top: 35px;
}

.mapTrack {
    position: relative;
    left: 35px;
    top: 1px;
}

.button-box {
    position: absolute;
    left: 15px;
    top: 200px;
}

#text_out {
    position: absolute;
    top: 200px;
    margin: 30px;
    padding: 20px 20px;
  }

#text_change {
    color: #D32F2F;
    font-size: 25px;
    font-weight: 700;
}

.header__img {
    position: absolute;
    left: 300px;
    top: 100px;
}

.img {
    display: none;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

.speedometer {
    position: absolute;
    left: 10px;
    top: 100px;
}